html,
body,
.wrapper {
  height:100%;
}

body {
  padding:0;
  margin:0;
  font-family:helvetica, arial;
  color:#111;
}

.wrapper {
  padding:0 10px;
}

header,
footer {
  padding:10px 0;
}

.main-content {
  min-height:calc(85% - 80px);
  padding-bottom:40px;
}

