h1,
h2 {
  margin:0;
}

h1 {
  font-size:18px;
}

h2 {
  font:{
    size:14px;
    weight:normal;
  }
}

a {
  color:#111;
  text-decoration:none;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}