// bower:scss
// endbower

body {
  padding:10px;
  margin:0;
}




.labelCheckboxToggle {
  label {
    display:inline-block;
  }

  .active {
    border:Solid 3px orange;
  }

}

.active {
  border:Solid 3px orange !important;
}


.checked { 
  background: LightBlue;
}

/*
.with-checklist-model-module {
  li {
    border:solid 3px #000;
    margin:1em 0;
    padding:0.5em;
    list-style-type:none;
  }
  label {
    display:block;
    clear:both;
    width:100%;
  }
}
*/


input[type="radio"] {
  float:left;
}

label {
  display:block;
}

input[type="text"],
.btn {
  padding:1.5em;
}

input,
.btn {
  border:0 none;
  color:#FFF;
}
.btn {
  background:#BADA55;
}

input:disabled,
.btn:disabled {
  background:darkred;
}


nav {
  a {
    display:inline-block;
    vertical-align:top;
    background:#CCC;
    color:#111;
    padding:1em;
    margin:0 5px 5px 0;
    text-decoration:none;
  }
}



.task-filter-toggle {
  padding:0;
  margin:0;
  li {
    list-style-type:none;
    display:inline-block;
    vertical-align:top;
    padding:10px;
    cursor:pointer;
  }
}

.task-item {
  float:left;
  width:50%;
  padding:10px;
  box-sizing:border-box;
  
  .inner {
    background:#EEE;
    padding:20px;
  }

  h4,
  p {
    margin:0;
  }
  h4 {
    margin-bottom:5px;
  }

}



