// bower:scss
// endbower

body {
  padding:10px;
  margin:0;
  font-family:helvetica, arial;
  color:#111;
}

header {
  border-bottom:solid 3px #EEE;
  margin-bottom:30px;
}

.row {
  clear:both;
  width:100%;
  padding:10px 0;
  border-bottom:solid 1px #EEE;
}

h1,
h2 {
  margin:{
    top:0;
    bottom:10px;
  }
}

h1 {
  font-size:18px;
}

h2 {
  font:{
    size:16px;
    weight:normal;
  }
}

a {
  color:#111;
  text-decoration:none;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}

.home-nav {
  margin:0;
  padding:0 0 0 20px;
  li {
    padding:0 0 10px 0;
    &:last-child {
      padding-bottom:0;
    }
  }
  a {
    font-weight:normal;
  }
}


.labelCheckboxToggle {
  label {
    display:inline-block;
  }

  .active {
    border:Solid 3px orange;
  }

}

.active {
  border:Solid 3px orange !important;
}


.checked { 
  background: LightBlue;
}

/*
.with-checklist-model-module {
  li {
    border:solid 3px #000;
    margin:1em 0;
    padding:0.5em;
    list-style-type:none;
  }
  label {
    display:block;
    clear:both;
    width:100%;
  }
}
*/


input[type="radio"] {
  float:left;
}

label {
  display:block;
}

input[type="text"],
.btn {
  padding:1.5em;
}

input,
.btn {
  border:0 none;
  color:#FFF;
}
.btn {
  background:#BADA55;
}

input:disabled,
.btn:disabled {
  background:darkred;
}


.task-filter-toggle {
  padding:0 0 10px;
  margin:0;
  li {
    list-style-type:none;
    display:inline-block;
    vertical-align:top;
    padding:0 10px;
    cursor:pointer;
  }
}

.task-item {
  float:left;
  width:50%;
  padding:10px;
  box-sizing:border-box;
  
  .inner {
    background:#EEE;
    padding:20px;
  }

  h4,
  p {
    margin:0;
  }
  h4 {
    margin-bottom:5px;
  }

}


.active-hover-items > div {
  float:left;
  clear:both;
  transition:all 0.3s ease;
}

.active-hover {
  background:#BADA55;
  opacity:1;
}

.inactive-hover {
  opacity:0.4;
}


input {
  padding:10px;
  color:#111;
  border:solid 1px #CCC;
}

label {
  float:left;
  margin-right:20px;
}

form {
  max-width:700px;
 //&.ng-invalid {
  .error {
    background:darkred;
    color:#FFF;
  }
}

