.task-filter-toggle {
  padding:0 0 20px;
  margin:0;
  small {
    float:left;
    width:100%;
    margin-bottom:5px;
  }
  li {
    list-style-type:none;
    display:inline-block;
    vertical-align:top;
    padding:5px 10px;
    cursor:pointer;
    &:hover,
    &.active {
      background:#333;
      color:#EEE;
    }
  }
}

.task-item {
  padding:0 0 10px 0;
  box-sizing:border-box;

  @media (min-width:$bp-small) {
    float:left;
    width:50%;
    padding-right:10px;
    &:nth-child(2n) {
      padding-right:0;
    }
  }
  
  .inner {
    background:#EEE;
    padding:20px;
  }

  h4,
  p {
    margin:0;
  }
  h4 {
    margin-bottom:5px;
  }

}