/* line 4, ../../app/styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 11, ../../app/styles/main.scss */
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 16, ../../app/styles/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 24, ../../app/styles/main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
}
/* line 29, ../../app/styles/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 38, ../../app/styles/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 44, ../../app/styles/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* line 56, ../../app/styles/main.scss */
.labelCheckboxToggle {
  border: solid 2px #CCC;
}
/* line 58, ../../app/styles/main.scss */
.labelCheckboxToggle label {
  display: inline-block;
}
/* line 62, ../../app/styles/main.scss */
.labelCheckboxToggle .active {
  border: Solid 3px orange;
}

/* line 68, ../../app/styles/main.scss */
.active {
  border: Solid 3px orange !important;
}

/* line 73, ../../app/styles/main.scss */
.checked {
  background: LightBlue;
}

/*
.with-checklist-model-module {
  li {
    border:solid 3px #000;
    margin:1em 0;
    padding:0.5em;
    list-style-type:none;
  }
  label {
    display:block;
    clear:both;
    width:100%;
  }
}
*/
/* Main marketing message and sign up button */
/* line 97, ../../app/styles/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
/* line 101, ../../app/styles/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 108, ../../app/styles/main.scss */
.marketing {
  margin: 40px 0;
}
/* line 111, ../../app/styles/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 118, ../../app/styles/main.scss */
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  /* line 123, ../../app/styles/main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 130, ../../app/styles/main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 134, ../../app/styles/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
/* line 139, ../../app/styles/main.scss */
input[type="radio"] {
  float: left;
}

/* line 143, ../../app/styles/main.scss */
label {
  display: block;
}

/* line 147, ../../app/styles/main.scss */
input[type="text"],
.btn {
  padding: 1.5em;
}

/* line 152, ../../app/styles/main.scss */
input,
.btn {
  border: solid 3px #BADA55;
}

/* line 156, ../../app/styles/main.scss */
.btn {
  background: #BADA55;
}

/* line 160, ../../app/styles/main.scss */
input:disabled,
.btn:disabled {
  border: solid 3px red;
}
