input[type="radio"] {
  float:left;
}

label {
  display:block;
}

input,
.btn {
  padding:1em;
}

.btn {
  background:#BADA55;
  color:#FFF;
}

input:disabled,
.btn:disabled {
  background:darkred;
}

input[type="radio"] {
  float:left;
}

label {
  display:block;
}

input[type="text"],
.btn {
  padding:1.5em;
}
