.user-form {
  label {
    padding-bottom:5px;
    @media (min-width:$bp-small) {
      float:left;
      width:140px;
    }
  }
  .radio-wrap {
    @media (min-width:$bp-small) {
      float:left;
    }
    .row:first-child {
      padding-top:0;
    }
  }
}