<form>
  <label ng-repeat="person in people" style="margin-bottom:15px;">{{person.name}}
    <input type="radio" ng-model="$parent.name" name="individual" value="{{person.name}}" 
    ng-click="$parent.selected.radio=$index"
    required />
  </label>
</form>

<p class="selection-counter" ng-show="selected.radio >= 0">selected: {{selected.radio}}</p>

<h4 class="selection-success" ng-show="selected.radio === 1">{{people[1].name}} is selected!</h4>

<button class="btn" ng-disabled="selected.radio != 1">Submit</button>