<div class="user-form form-validation">
  <form name="userForm">

    <div class="row user-name">
      <label for="userName">name</label>
      <input name="userName" 
             type="text"
             ng-model="userName" 
             required>
      <span class="error" 
            ng-show="!userForm.userName.$pristine && userForm.userName.$invalid">This field is required.</span><br/>
    </div>

    <div class="row user-email">
      <label for="userEmail">email address</label>
      <input name="userEmail" 
             type="email"
             ng-model="userEmail" 
             required>
      <span class="error" 
            ng-show="!userForm.userEmail.$pristine && userForm.userEmail.$invalid">Email address is invalid.</span><br/>
    </div>

    <div class="row user-number">
      <label for="userNumber">magic number</label>
      <input name="userNumber" 
             type="number"
             ng-model="userNumber" 
             required>
      <span class="error" 
            ng-show="userForm.userNumber.$dirty && userForm.userNumber.$invalid">That's not a valid number.</span><br/>
    </div>

    <div class="row language-used">
      <label for="languageUsed">which language do you use the most?</label>
      <div class="radio-wrap">
        <span ng-show="userForm.languageUsed.$invalid" class="error">Please select a language.</span>
        <div class="row">
          <input name="languageUsed" 
                 type="radio"
                 ng-model="language.used" 
                 value="angular"
                 required/>AngularJS
        </div>
        <div class="row">
          <input name="languageUsed" 
                 type="radio"
                 ng-model="language.used" 
                 value="html2"
                 required/>HTML 2.0
        </div>
        <div class="row">
          <input name="languageUsed" 
                 type="radio"
                 ng-model="language.used" 
                 value="css11"
                 required/>CSS 11
        </div>
      </div>
    </div>

    <div class="row favourite-url">
      <label for="favouriteUrl">favourite url</label>
      <input name="favouriteUrl" 
             type="url"
             ng-model="favouriteUrl" 
             required>
      <span class="error" 
            ng-show="!userForm.favouriteUrl.$pristine && userForm.favouriteUrl.$invalid">This url needs to contain 'http://'.</span><br/>
    </div>

    <div class="row spam">
      <input name="spam" 
             type="checkbox"
             ng-model="spam" 
             required>
      <label for="spam">Send me spam</label>
      <span class="error" 
            ng-show="userForm.spam.$invalid">Please accept spam to continue.</span><br/>
    </div>

    <div class="row">
      <p class="validation-text errors" ng-show="!!userForm.$error.required">Errors are present.</p>
      <p class="validation-text success" ng-hide="userForm.$error.required">Congratulations! <br/>All fields have been entered correctly.</p>
    </div>

  </form>
</div>