<ul class="home-nav">
  <li><strong>forms</strong></li>
  <ol class="nav-forms">
    <li><a ui-sref="forms.formValidation">form validation</a></li>
    <li><a ui-sref="forms.disableSubmitRadioSelection">disable radio</a></li>
    <li><a ui-sref="forms.activeCheckboxLabel">active checkbox label</a></li>
  </ol>

  <li><strong>ng-repeat</strong></li>
  <ol class="nav-ng-repeat">
    <li><a ui-sref="ngRepeat.ngRepeatFilterToggle">ng-repeat filter toggle</a></li>
    <li><a ui-sref="ngRepeat.nestedNgRepeat">nested ng-repeat</a></li>
  </ol>

  <li><strong>services</strong></li>
  <ol class="nav-services">
    <li><a ui-sref="services.simpleService">simple service</a></li>
    <li><a ui-sref="services.gifbase">http call to 3rd party api</a></li>
  </ol>

  <li><strong>directives</strong></li>
  <ol class="nav-directives">
    <li><a ui-sref="directives.activeHoverDirective">active hover directive</a></li>
    <li><a ui-sref="directives.randomRobotImage">random robot image</a></li>
  </ol>

  <li><strong>scope watch</strong></li>
  <ol class="scope-watch">
    <li><a ui-sref="scopeWatch.formCompletionValue">form completion value</a></li>
  </ol>

  <li><strong>ui</strong></li>
  <ol class="nav-ui">
    <li><a ui-sref="ui.dropDownMenuWithNgFocusNgBlur">drop down menu with ng-focus and ng-blur</a></li>
    <li><a ui-sref="ui.ngClickShowHide">ng-click show/hide</a></li>
  </ol>
</ul>