<ul class="home-nav">
  <li><strong>forms</strong></li>
  <ol>
    <li><a ui-sref="disableSubmitRadioSelection">disable submit until certain radio button is selected</a></li>
    <li><a ui-sref="formValidation">form validation</a></li>
    <li><a ui-sref="activeCheckboxLabel">active checkbox label</a></li>
  </ol>

  <li><strong>ng-repeat</strong></li>
  <ol>
    <li><a ui-sref="ngRepeatFilterToggle">ng-repeat filter toggle</a></li>
    <li><a ui-sref="nestedNgRepeat">nested ng-repeat</a></li>
  </ol>

  <li><strong>services</strong></li>
  <ol>
    <li><a ui-sref="displayDataFromAService">display data from a service</a></li>
    <li><a ui-sref="gifbase">http call to 3rd party api</a></li>
  </ol>

  <li><strong>directives</strong></li>
  <ol>
    <li><a ui-sref="activeHoverDirective">active hover directive</a></li>
  </ol>

  <li><strong>ui</strong></li>
  <ol>
    <li><a ui-sref="toggleMenuWithNgFocusNgBlur">toggle menu with ng-focus and ng-blur</a></li>
  </ol>
</ul>