<h1>radioDisable view</h1>

<br/>
<br/>

<!--
<input type="radio" ng-model="checked1" value="1" ng-click="uncheck($event)" />
<br/>
<input type="radio" ng-model="checked2" value="2" ng-click="uncheck($event)" />
<br/>
<input type="radio" ng-model="checked3" value="3" ng-click="uncheck($event)" />
-->

<input type="radio" ng-model="checked" value="1" ng-click="uncheck($event)" />
<br/>
<input type="radio" ng-model="checked" value="2" ng-click="uncheck($event)" />
<br/>



<br/>
<br/>


<input ng-disabled="!checked2" placeholder="bla bla bla" />

<button class="btn btn-primary" 
        ng-disabled="!checked2">BUTTON</button>


<!--
    <a class="btn btn-primary" 
       ng-disabled="checked">anchor</a>

    <button class="btn btn-primary" 
            ng-disabled="!checked1">BUTTON</button>


-->