<!--
inspired from: http://jsfiddle.net/3mdrfq63/
-->
<div ng-init="focus=false;blur=false;"></div>

<h1>toggle menu with ng-focus and ng-blur</h1>

<!--
<input type="button" ng-focus="focus=true" ng-blur="focus=false;" value="toggle menu" />
-->
<!-- or -->
<input type="button" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" value="toggle menu" />

<br/>
<br/>
<br/>
<p>focus: {{focus}}</p>
<p>blur: {{blur}}</p>


<div ng-show="focus" style="border:solid 2px red;width:250px;padding:20px;">
  <p>bingo <br/>i'm open</p>
</div>